@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
:root {
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #007bff;
    --bs-nav-custom-link-active-color: #0b132b;
    --app-dark-bg-color: #080708;
    --app-theme-color: #2d6004;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    max-height: fit-content;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}

#root {
    height: 100%;
}

.app-dark-bg-color {
    background-color: var(--app-dark-bg-color) !important;
}

.p-component {
    font-family: "Poppins", sans-serif;
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem;
    font-weight: normal;
}

.nav-link svg.icon-menu {
    width: 24px;
    height: 24px;
    color: #0b132b;
}

.nav-pills .nav-link.active {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--bs-nav-custom-link-active-color);
}

.nav-pills .nav-link.active svg.icon-menu {
    color: var(--bs-nav-pills-link-active-color);
}

/* RESPONSIVE CSS
-------------------------------------------------- */
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 35rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.form-signin {
    max-width: 420px;
    padding: 1rem;
    z-index: 9999;
}

.login-backdrop {
    background-image: url(https://wallpapers.com/images/hd/pickleball-pictures-1920-x-1080-x9i9gq00fmqz37iq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body:not(.loginLayout, .dashboardLayout) {
    padding-top: 91px;

}

body.dashboardLayout {
    height: 100vh;
}

body.loginLayout {
    height: 100vh;
}

ul.p-stepper-nav {
    display: none;
}

.p-multiselect-panel.p-component.p-ripple-disabled.p-connected-overlay-enter-done {
    z-index: 1060 !important;
}

ul.p-multiselect-items.p-component {
    padding-left: 0;
}

.p-multiselect-item h6 {
    text-transform: capitalize;
}

label.form-label,
label.form-check-label {
    text-transform: capitalize;
}

table thead th {
    text-transform: capitalize;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

textarea {
    resize: none;
}

.nav-pills .nav-link {
    color: #0b132b;
}

.nav-pills .nav-link.active {
    color: #0b132b;
    background-color: #ffffff;
}

div#pills-tabContent {
    border: 1px solid RGBA(var(--bs-light-rgb), var(--bs-bg-opacity, 1)) !important;
    height: 90%;
    overflow: auto;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
    text-align: center;
    vertical-align: bottom;
}

.p-password {
    position: relative;
    display: inline-flex;
    width: 100%;
    flex-direction: column;
}

iframe.chatIFrame {
    width: 100%;
    height: calc(100vh - 120px);
}

.table-ace {
    --bs-table-color: #fff;
    --bs-table-bg: #2d6004;
    --bs-table-border-color: #588157;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

thead.p-datatable-thead th {
    background-color: #2d6004;
    border-width: 1px;
    border-color: #588157;
    color: #fff;
}

table.p-datatable tbody tr td {
    border-color: #588157;
    border: 1px solid #588157;
}

.shootout-pane {
    height: calc(100vh - 110px);
    background: #edf6f9;
    padding: 5px 15px;
    overflow: auto;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--app-theme-color);
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--app-theme-color);
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #157347;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #146c43;
    --bs-btn-active-border-color: #13653f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--app-theme-color);
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(13, 110, 253, .25);
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: var(--app-theme-color) !important;
    color: #fff;
    font-size: 1em;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
    text-align: left;
    vertical-align: bottom;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;
}

ul.p-dropdown-items {
    padding: 0;
}

.p-datatable-wrapper {
    height: calc(100vh - 310px);
}

.secondary-table .p-datatable-wrapper {
    height: auto;
    /* Or another height as needed */
    min-height: 250px;
}

tr.p-datatable-emptymessage td {
    text-align: center;
    background: rgb(191 6 3 / 25%);
    color: #bf0603;
    font-weight: 500;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #343a40;
}

.p-datepicker {
    padding: 0.0rem;
    background: #ffffff;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

.p-datepicker table td {
    padding: 0.125rem;
}